.heading{
    font-size: 23px;
    width: 100%;
    margin: 0;
    box-shadow: 5px 5px 5px grey;
}

.heading_div{
    float: none;
    background-color: white;
    padding: 10px;
    border-radius: 20px;
    color: black;
    box-shadow: 5px 5px 5px grey;
}

.heading_div2{
    font-size: 18px;
    color: rgb(4, 13, 92);
}

.result_para{
    box-shadow: 5px 5px 5px grey;
    font-size: 20px;
    color: rgb(4, 13, 92);
}

#copy_right_footer{
    width: 100%;
    background-color: grey;
    line-height: 3;
    bottom: 0;
    text-align: center;
    color: white;
    position: fixed;
}

canvas{
    border: 5px solid white;
    border-radius: 20px;
    box-shadow: 5px 5px 5px black;
    margin-top: 150px;
}

#heading_color{
    background-color: rgb(231, 150, 225);
}